html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;   
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}


// helper utilites classess
.wrapper-inner {
    max-width: 1170px;
    margin: 0 auto;
}

.heading-h2-white {
    color: $bgColor;
}

////////////////
// mobile
@include breakpoint(mobile) {

    .custom-width {    
        width: 100%;
    }

    .btn {
        position: relative;
        z-index: 5;
        font-family: futurastd-light, sans-serif;
        color: #fff;
        text-transform: uppercase;
        border: 2px solid $lBlue;
        letter-spacing: 1px;
        background-color: transparent;
        padding: 1.2em 5.6em;
        font-size: .8rem;
        cursor: pointer;
        overflow: hidden;


    }
    
    .heading-h2 {
        position: relative;
        z-index: 5;
        font-family: 'futura-condensedbold';
        color: $h1-color;
        text-transform: uppercase;
        font-size: 1.5rem;
        text-align: center;
    }

}

@include breakpoint(large-desktop) {
    .btn {
        margin-right: .5em;
    }

    .heading-h2 {
        font-size: 2.9rem;
        text-align: start;
        padding: 0 0 0 .5em;
    }

    .custom-width {    
        width: 50%;
    }


}


.pb-0 {
    padding-bottom: 0 !important;
}

.pb-1 {
    padding-bottom: 1em !important;
}

.pb-5 {
    padding-bottom: 5em !important;
}
.pb-6 {
    padding-bottom: 6em;
}

img {
    max-width: 100%;
    height: auto;
}

.heading-h3 {
    font-family: 'futurastd-light', sans-serif;
    color: $lBlue;
    padding-bottom: 1em;
    text-transform: capitalize;
    font-size: 1.2em;
}

.heading-h2-white {
    color: $bgColor !important;
}

.rounded {
    border-radius: 100%;
    width: 180px;
    height: 180px;
}

