@import "global";
@import "mixins";
@import "header";
@import "footer";
@import "colors";
@import "typography";
@import "icons";
@import "fonts";


body {
    font-size: 25px;
    height: 100vh;
    font-family: "Roboto" sans-serif;
}

.container {
    position: relative;
    background: url("./../src/img/landingPage.png");
    // background-color: #12202d;
    background-size: cover;
    height: 100vh;
    @include flexCHV;
     
    h1 {
        position: relative;
        z-index: 5;
        color: yellow;
    }
}

.container::before {
    position: absolute;
    content: '';
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    // background-color: #56bcbb;
    background-color: rgba(86, 188, 187, 0.8);
    width: 100%;
    height: 100%;
}

.container::after {
    position: absolute;
    content: '';
    // background-color: #12202d;
    background-color: rgba(18, 32, 45, 0.6);

    width: 100%;
    height: 100%;
}

// 
$base-color: #334242;
$degrees: 5deg;

.main {

    .container {
        position: relative;
        background: url("./../src/img/landingPage.png");
        // background-color: #12202d;
        background-size: cover;
        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        header.header-login {
            position: relative;
            width: 100%;
            padding: 1em 0;

            display: flex;
            justify-content: center;
            align-items: center;
            
            z-index: 5;

            .header-login__btn {
                position: relative;
                color: hotpink;
                background-color: indigo;
                padding: .5em 3em;
            }
            .header-login__btn::before {
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                -webkit-clip-path: polygon(0 0,0 100%,100% 100%);
                clip-path: polygon(0 0,0 100%,100% 100%);
                background-color: rgba(86,188,187,.8);
                width: 50%;
                height: 100%;
            }



        }
         
        h1 {
            position: relative;
            z-index: 5;
            padding: 0 1.5em;
        }

        .more-info {
            position: relative;
            z-index: 5;
        }
    }



    section {
        margin: 0;
        height: 100vh;
        background-color: hotpink;

        // @for $i from 1 to 6 {
        //   &:nth-child(#{$i}) {
        //     background-color: lighten($base-color, $degrees*$i);
        //   }
        // }

        h1 {
            font-size: 38px;
            color: #fff;
            margin: 0;
            padding: 50px 0 20px;
            text-align: center;
        }
    }
}



#pagination {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  list-style: none;

  li {
    position: relative;
    margin: 20px 0;
    background: #fff;
    border-radius: 100%;
    width: 8px;
    height: 8px;
    transition: all .2s ease;

    &:hover {
      transform: scale(1.5);
    }
  }

  a {
    position: absolute;
    text-decoration: none;  
    left: 0;
    top: 0;
    color: inherit;
    width: 100%;
    height: 100%;
  }
}

body {
  font-family: sans-serif;
  margin: 0;

  @for $i from 1 to 6 {
    &.page-#{$i} {
      #pagination li:nth-of-type(#{$i}) {
        @extend %active-dot;
      }
    }
  }
}

%active-dot {
  transform: scale(2);
  background-color: #56bcbb;
}
